@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/RussoOneRegular.ttf");
  font-family: "Russo One";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/PoppinsSemiBold.ttf");
  font-family: "Poppins";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/PoppinsRegular.ttf");
  font-family: "Poppins";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/PoppinsLightItalic.ttf");
  font-family: "Poppins";
  font-weight: 300;
}
